body {
    background: linear-gradient(180deg, #0837B0 0%, #021E66 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
#root {
    height: 100%;
}
.counter {
    width: 300px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.btn {
    width: 65px;
    height: 65px;
    border-radius: 4px;
    border: none
}
.btn--green {
    background: #089C20;
}
.btn--yellow {
    background:#E7AA10;
}
.btn--red {
    background: #CF1C1C;
}
.buttons {
    display: flex;
    justify-content: center;
    padding-top: 34px;
}
.buttons .btn {
    margin-left: 19px;
    margin-right: 19px;
}